@using System.Data.Entity.Core.Common.CommandTrees
@model Mashup.Data.Model.dbo.Users

<br /><a href="~/" class="returnBack">Wróć do strony głównej</a><br />

<h1>Edycja profilu użytkownika</h1>

<div id="editProfilePanel">
    <h2>Dane użytkownika</h2>
    @Html.ValidationMessage("UserSaveInfo")
    @using (Html.BeginForm("SaveUser", "Home", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)<br />
            @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            @Html.LabelFor(x => x.Surname)
            @Html.ValidationMessageFor(x => x.Surname)<br />
            @Html.TextBoxFor(x => x.Surname)
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)<br />
            @Html.TextBoxFor(x => x.Email, null, new { type = "email" })
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)<br />
            @Html.PasswordFor(x => x.Password)
        </div>

        <input type="submit" value="Zapisz zmiany" />
    }
</div>
<br />

<br /><a href="~/" class="returnBack">Wróć do strony głównej</a><br />

<div class="settingsPanels">
    <div class="settingsPanel feedPanel">
        <h2>Ustawienia RSS</h2>
        @Html.ValidationMessage("FeedError")

        <h3>Twoje kanały:</h3>
        @foreach (var rss in Model.RSS)
        {
            <a href="javascript:RemoveFeed('@rss.ID')">Usuń</a>
            @rss.RSS_URL<br />
        }

        <h3>Nowy kanał:</h3>
        @Html.Label("Adres URL")
        <input type="text" id="newFeedUrl" />
        <input type="button" value="Dodaj" onclick="AddFeed()" />
    </div><br />

    <div class="settingsPanel weatherSettingsPanel">
        <h2>Ustawienia pogody</h2>
        @Html.ValidationMessage("WeatherError")


        <h3>Twoja pogoda:</h3>
        @foreach (var weather in Model.Weather)
        {
            <a href="javascript:RemoveCity('@weather.ID')">Usuń</a>
            @weather.City @Html.Raw(" (" + weather.Quantity + " dni)") <br />
        }
        
        <h3>Nowa pogoda:</h3>
        @Html.Label("Miasto")
        <input type="text" id="newCity" />
        @Html.Label("Ilość dni")
        <input type="number" id="newQuantity" />
        <input type="button" value="Dodaj" onclick="AddCity()" />
    </div>
    
    <div class="clear"></div>
</div>


@section Scripts
{
    <script type="text/javascript">
        function RemoveFeed(feedId) {
            window.location.href = "@Url.Action("RemoveFeed", "RSS")?feedId=" + feedId;
        }

        function AddFeed() {
            var url = $('#newFeedUrl').val();

            $.post("@Url.Action("AddFeed", "RSS")?feedUrl=" + url, function () {
                location.reload();
            });
        }

        function RemoveCity(weatherId) {
            window.location.href = '@Url.Action("RemoveCity", "Weather")' + "?cityId=" + weatherId;
        }

        function AddCity() {
            var city = $('#newCity').val();
            var quantity = $('#newQuantity').val();

            $.post('@Url.Action("AddCity", "Weather")' + "?city=" + encodeURI(city) + "&quantity=" + quantity, function () {
                location.reload();
            });
        }
    </script>

}
