@model List<Mashup.Logic.Providers.Weather.LocalWeather>

@{
    ViewBag.Title = "Index";
}

@if (Model == null)
{
    return;
}

@foreach (var localWeather in Model)
{
    var city = localWeather.data.request.FirstOrDefault();

    if (city != null)
    {
        var d = localWeather.data.current_Condition.FirstOrDefault();
        <h4>@city.query</h4>

        <div class="weather actual">
            @{
        var icond = d.weatherIconUrl.FirstOrDefault();
        if (icond != null)
        {
            <img alt="weather-icon" src="@icond.value" />
        }

        <b>aktualnie</b><br />

                <span class="big">@d.temp_C&deg;C</span>
                <br /><br />

                <div class="details">
                    Prędkość wiatru: <b>@d.windspeedKmph km/h</b><br />
                    Ciśnienie: <b>@d.pressure hPa</b><br />
                    Wilgotność: <b>@d.humidity%</b><br />
                    Zachmurzenie: <b>@d.cloudcover%</b>
                </div>
            }
        </div>

        foreach (var w in localWeather.data.weather)
        {
            <div class="weather">
                @{
            var icon = w.weatherIconUrl.FirstOrDefault();
            if (icon != null)
            {
                <img alt="weather-icon" src="@icon.value" />
            }
                }

                <b>@w.date.ToString("dd MMMM yyyy")</b><br />

                <span class="big">@w.tempMaxC&deg;C/</span>
                <span class="small">@w.tempMinC&deg;C</span>
                <br /><br />

                <div class="details">
                    Prędkość wiatru: <b>@w.windspeedKmph km/h</b>
                </div>
            </div>
        }
    }
}