@model List<Mashup.Logic.Providers.Search.SearchResultItem>

@foreach (var searchResult in Model)
{
    <div class="resultItem">
        <a href="@searchResult.Url"><b>@searchResult.Title</b></a><br />
        <span>@searchResult.Description</span><br />
        <a href="@searchResult.Url">@searchResult.DisplayUrl</a>
    </div>
}