@model List<Mashup.Data.Model.RSSModel>

@{
    ViewBag.Title = "title";
}

    @foreach (var rss in Model)
    {
        <h2>@rss.RSSName</h2>
        <h3>@rss.RSSDescription</h3>
        foreach (var rssItem in rss.RssItems)
        {
            <p>
                <time>@rssItem.PublishDate.ToString("dd MMMM yyyy HH:mm")</time>
                <a href="@rssItem.Url">@rssItem.Title</a>
                <span>@rssItem.Content</span>
            </p>
        }
    }
